{% set nav = 'buy' %}
{% extends 'main.twig' %}


{% block content %}
    
      <div id="wrapper">
        
        <p id="pagedis">Please check for more products as our business grows!</p>
      
      <section id="Selection">
        <ul id="choices">
          
          

          {% set products = 
          {
            macbook_13: {
              href: "/product",
              src: 'imgf/buy.jpg',
              alt: 'altmac 1',
              description: 'MacBook Pro 13 inch',
              stock: '30',
              price: '$615.00',
              paypal: 'S27DX58PS252G',
              id: 101
            }
          }
          %}
          
          {% for product in products %}
          <li>
          <a href="{{product.href}}{{product.id}}">
            <img src="{{product.src}}" alt="{{product.alt}}">
            <p>{{product.description}}<br> Stock: {{product.stock}}<br>  price: {{product.price}}</p>
          </a>
          </li>
          {% endfor %}
          
        </ul>     
      </section>
      
        </div>

{% endblock content %}