{% set nav = 'buy' %}
{% extends 'main.twig' %}


{% block content %}

          {% set products = 
          {
            macbook_13: {
              href: 'baseUrl()',
              src: 'imgf/buy.jpg',
              alt: 'altmac 1',
              description: 'MacBook Pro 13 inch',
              year: 'Mid 2012',
              processor: '2.5GHz i5',
              memory: '4GB RAM',
              hrad_drive: '500GB hard drive',
              graphics: 'Intel HD graphics',
              stock: '54',
              price: '$615.00',
              paypal: 'S27DX58PS252G'
            }
           }
          %}


      <div id="wrapper">
        
        <p id="pagedis">Please review the product information</p>
      
      <section id="Selection">
        <ul id="choices">
          <li>
          <a href="{{ siteUrl('/product101') }}">
            <img src="imgf/buy.jpg" alt="buy macbook">
            <p>{{products.macbook_13.description}}<br>year: {{products.macbook_13.year}}<br>processor: {{products.macbook_13.processor}}<br>memory: {{products.macbook_13.memory}}<br> hard_drive: {{products.macbook_13.hard_drive}}<br>graphics: {{products.macbook_13.graphics}}<br>Stock: {{products.macbook_13.stock}}<br>  price: {{products.macbook_13.price}}</p>
          </a>
            <h1 id="free_shipping">FREE SHIPPING</h1>
          </li>
          
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="S27DX58PS252G">
<input type="submit" value="Add to cart" name="submit" id="paypalsubmit">
</form>
          
      
          
        </ul>     
      </section>
      
        </div>
    

{% endblock content %}